// Arquivo show.module.scss
.detailsContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 24px;
}

.detailItem {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.userHeader {
  display: flex;
  align-items: center;
  gap: 16px;
  margin-bottom: 24px;
}

.avatar {
  width: 100px;
  height: 100px;
  font-size: 40px;
}